body {
  background-color: #C8FFBE;
}
h1 {
  color: #B26E63;
  text-align: center;
}
h2 {
  color: #B26E63;
  text-align: center;
}
h3 {
  color: #B26E63;
  text-align: center;
}
p {
  color: #222222;
  text-align: center;
}