@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: linear-gradient(75deg, #fdcd3b 60%, #ffed4b 60%);
  font-family: 'Roboto', 'sans-serif;';
}
h1 {
  color: #222222;
  text-align: center;
}
h2 {
  color: #222222;
  text-align: center;
}
h3 {
  color: #222222;
  text-align: center;
}
p {
  color: #222222;
  max-width: 1100px;
  margin:  0 auto;
  padding: 0 3rem;
  margin-top:  4rem;
  text-align: center;
  font-size: 120%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}