@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #C8FFBE;
  font-family: 'Roboto', 'sans-serif;';
}
h1 {
  color: #B26E63;
  text-align: center;
}
h2 {
  color: #B26E63;
  text-align: center;
}
h3 {
  color: #B26E63;
  text-align: center;
}
p {
  color: #222222;
  text-align: center;
}
.image {
  text-align: center;
}